.formulario-colaborador {
    padding: 150px 0 80px 0;
    width: 100%;
}
.formulario-colaborador .form-label  {
    margin-bottom:  2px ;
}
.formulario-colaborador .radio-pessoas  {
    display: flex;
    align-items: center;
    text-align: center;
}
.formulario-colaborador .radio-pessoas label  {
    font-size: 1.2em;
}

.formulario-colaborador .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formulario-colaborador .row h2 {
    text-align: center;
}

.formulario-colaborador .row .col-form {
    margin: 20px;
    padding: 30px;
}

.formulario-colaborador .btn-enviar {
    background-color: var(--azulPrincipal);
    color: #fff;
    margin-left: 40%;
    width: 20%;
}
.formulario-colaborador .btn-enviar:hover {
    background-color: var(--azulSecundario);
}

.formulario-colaborador .row .col-img img {
    border-radius: 0 25px 25px 0;
    width: 100%;
}
.formulario-colaborador .row .dificuldade-cadastro h5{
margin-top: 15px;
}
.formulario-colaborador .row .dificuldade-cadastro  a{
    color: #777;
}

.z-index-img{
    z-index: 30;
    height: 100%;
    width: 100%;
    background-color: #0000005d;
    text-align: center;
    top: 0;
}
.z-index-img button{
    position: fixed;
    top: 5vh;
    left: 47%;
    border-radius: 50% !important;
    z-index: 40;
    font-size: 1.5em;
}
.z-index-img img{
    position: relative;
    max-height: 80vh;
    margin-top: 10vh;
    margin-left: 23px;
}



@media (max-width:720px) {
    .formulario-colaborador {
        padding-top: 100px;
    }
    .formulario-colaborador .radio-pessoas label  {
        font-size: 1.1em;
    }
    .formulario-colaborador .radio-pessoas .col-6  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formulario-colaborador .row {
        margin: auto;
        padding: 10px;
    }

    .formulario-colaborador .row .col-form {
        padding: 15px;
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    .formulario-colaborador .row .col-form label {
        margin: 5px 0 0 0;
    }

    .formulario-colaborador .row .col-img img {
        border-radius: 0 0 25px 25px;
        width: 100%;
    }
    .formulario-colaborador .btn-enviar {
        margin-left: 33%;
        width: 33%;
    }

    .z-index-img button{
        top: 15vh;
    }
    .z-index-img img{
        max-height: 50vh;
        margin-top: 20vh;
        margin-left: 23px;
    }
}