*{
    font-family: 'Poppins', sans-serif;
}

#menu {

    background-color: #1a699d;

}
 



/*-----MAIN-----*/
main {
    padding-top: 170px;
}


main article aside {
    padding: 20px;
}

/*-----Sao Felipe-----*/
#SaoFelipe .row{
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 100%;
    align-items: center;
}
#SaoFelipe .row img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
}
#SaoFelipe .row h3{
    font-size: 1.3em;
    margin: 0;
}

.accordion-button {
    box-shadow: none !important;
}

#EraUmaVez-aside p {
    text-align: justify;
    font-size: 1.1em;
}

#topicos-aside {
    text-align: center;
}

#topicos-aside p {
    margin-bottom: 40px;
    font-size: 1.3em;
    font-weight: 400;
    color: var(--Paragrafo-black);
}

h1 {
    font-size: 3em;
    font-weight: 400;
    color: var(--h1);
}

h2 {
    font-size: 2.1em;
    font-weight: 400;
    color: var(--H2);
}


/*------Carrosel-----*/
#carrosel-div {
    margin: 50px auto
}

.carousel-caption {
    background-color: #00000055;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}





/*_________________________________________________________________________________________________*/
@media (max-width: 992px) {

    #SaoFelipe .row{
        height: 100% !important;
    }
    #SaoFelipe .row .col-12{
        height: 100%;
        padding: 0;
    }
    #SaoFelipe .row h3{
        font-size: 1em;
    }
    #SaoFelipe .row p{
        font-size: 0.8em;
    }
    #SaoFelipe .row-2{
        margin-top: -50px;
    }

    /*------Carousel------*/
    .carousel-indicators {
        display: none;
    }

    .carousel-caption {
        padding: 10px;
    }

    .carousel-caption h3 {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .carousel-caption p {
        font-size: 11px;
        margin: 0;
    }

}