:root {
  --Cmaster: #f6b957;
  --Cmarking1: #000;
  --Cmarking2: #f6b9578e;
  --branco: #fff;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Oxanium', cursive;
}

#SecCoração .btn{
   background-color: #f6b957;
   color: #000;
   padding: 10px 50px;
   text-transform: uppercase;
   font-weight: 500;
   border: none;
}

.coracao{
  padding-top:130px ;
  width:  12%;
  z-index: 2;
  position: fixed;

}

.img-modal{
  width: 100%;
}


.SecCoração { 
  width:100%; 
  width:250px; 
  margin:0 auto; padding:0 30px;
}
.SecCoração img {

text-decoration:none;
display: inline-block;
font-size: 1.1em;
font-family:Verdana, Geneva, sans-serif;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
}
.coracao {
-webkit-animation: pulse 1s ease infinite;
-moz-animation: pulse 1s ease infinite;
-ms-animation: pulse 1s ease infinite;
-o-animation: pulse 1s ease infinite;
animation: pulse 1s ease infinite;
}
.botao-pulse:hover {
color: #fff;
}
@-webkit-keyframes pulse {
0% {
  -webkit-transform: scale(1);
}
25% {
  -webkit-transform: scale(1.1);
}
50% {
  -webkit-transform: scale(1);
}
100% {
  -webkit-transform: scale(1);
}
}
@-moz-keyframes pulse {
0% {
  -moz-transform: scale(1);
}
25% {
  -moz-transform: scale(1.1);
}
50% {
  -moz-transform: scale(1);
}
100% {
  -moz-transform: scale(1);
}
}
@-ms-keyframes pulse {
0% {
  -ms-transform: scale(1);
}
25% {
  -ms-transform: scale(1.1);
}
50% {
  -ms-transform: scale(1);
}
100% {
  -ms-transform: scale(1);
}
}
@-o-keyframes pulse {

0% { -o-transform: scale(1); }
25% { -o-transform: scale(1.1); }
50% { -o-transform: scale(1); }
100% { -o-transform: scale(1); } 
}
@keyframes pulse { 
0% {transform: scale(1);}
50% {transform: scale(1.1);}
100% {transform: scale(1);}
}
/*Botão Pulsa*/






#SecCoração .row{
  
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: end;
  
}



#SecHero {
  padding-top: 20px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#SecHero .row {
  width: 0 90%;
}

#SecHero h4 {
  color: var(--branco);
  text-align: center;
  padding-top: 30px;
}



#SecHero h1 {
  color: var(--Cmaster);
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 20px;
}

#SecHero p {
  color: #fff;
  text-align: center;
  font-size: 16;
}

#FORM h5 {
  color: #ffffff84;
  font-size: 16px;
}




#SecHero .colSEC1 {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





#SecHero .img-logo {
  width: 80%;
}

#SecHero .colSEC2 {
  background-image: url("img/cruzmaisfelipe.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;

}






/*FORM*/
#FORM input,
#FORM textarea {
  padding: 10px;
  margin: 10px;
  background-color: #00000000;
  border: none;
  border-bottom: 1px solid #f6b9578e;
  border-radius: 0px;
}

#FORM {
  width: 100%;
}


#FORM {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  font-size: 14px;
}

#form-text::placeholder,
#form-email::placeholder,
#form-telefone::placeholder,
#form-cpf::placeholder {
  color: #9494949d;

}

#form-text,
#form-email,
#form-telefone,
#form-cpf:focus {
  box-shadow: none;

}

#form-text,
#form-email,
#form-telefone,
#form-cpf {
  color: var(--Cmaster);


}

#FORM button {
  margin: 10px;
}

#sectionForm {
  padding: 9% auto;
}

#FORM .btn {
  background-color: var(--Cmaster);
  border: none;
  padding: 10px 50px;
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
}

.Tform {
  font-size: 20px;
  color: #fff;
  padding-top: 10%;
  text-transform: uppercase;
}

#sectionForm iframe {
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 0;
  margin-right: 0;
}

.heroMB {
  display: none;
}

@media(max-width : 992px) {
  #sectionForm iframe {
    height: 400px;
  }

  .EtreContato {
    padding-top: 20px;
  }
  #FORM{
     display: none;
  }

}

@media(max-width : 992px) {
  #SecHero .row {
    width: 0 90%;
  }
}

@media(max-width : 992px) {
  #SecHero .colSEC2 {
    height: 60vh;
    background-size: cover;
  }

  #SecHero .img-logo {
   
    width: 90%;
  }

  .heroMB {
    padding-top: 20px;
    display: block;
    width: 100%;
  }

  #SecHero .colSEC2 {

    display: none;

  }
  .coracao{
    width:  30%;
    z-index: 2;
    padding-top: 120px;
    
  }




}